<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供2-4人食用</string>
				<key>number</key>
				<string>7寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>selected</key>
		<true/>
		<key>description</key>
		<string>马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中的修道院发明。英文名字从意大利词Maccarone获得（意为杏仁酱）。在法国大革命期间，二位加尔默罗修会的修女掩藏南希镇中，烘烤和售卖蛋白杏仁饼来赚生活费用。因而出名，人称“蛋白杏仁饼姐妹”。蛋白杏仁饼食谱传到欧洲的阿肯纳西犹太人，成为逾越节膳食。
马卡龙（Macarons，又称作玛卡龙、杏仁小圆饼、少女的酥胸），是一种用蛋白、杏仁粉、白砂糖和糖霜所做的意大利甜点，通常在两块饼干之间夹有水果酱或奶油等内馅，其外皮酥脆，里面柔软。它的由来可追溯至19世纪的蛋白杏仁饼；蛋白杏仁饼于1792年在意大利中。</string>
		<key>size</key>
		<array>
			<dict>
				<key>description</key>
				<string>供3-5人食用</string>
				<key>number</key>
				<string>8寸</string>
			</dict>
		</array>
		<key>material</key>
		<string>马卡龙、泡芙、巧克力蛋糕、鲜奶油、芝士、水果等</string>
		<key>prise</key>
		<string>338</string>
		<key>image</key>
		<string>defaultCakeDemo.png</string>
		<key>name</key>
		<string>马卡龙之舞</string>
		<key>id</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
